<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>My Lists</title>
</head>
<body>
  
    <div>

    
    <nav class="topNav">
        <a href="/home">Home</a>
        <a  class="navactive" href="/myLists">My Lists</a>
        <a href="/favorites">Favorites</a>
    </nav>
    
      

      <div class="topList-ct">
        <h2>My Lists</h2>


        <form action="/myLists" method="POST">
            <input type="text" name="listName" placeholder="New List Name" required>
            <button type="submit">Create List</button>
        </form>
      </div>

     <div class="lists-container">
  <% if (lists.length === 0) { %>
    <p>You have no lists yet. Start adding your favorite cocktails!</p>
  <% } else { %>
    <% lists.forEach(list => { %>
      <div class="list-ct">
        <a href="/myCustomList/<%= list._id %>"><%= list.name %></a>

        <form action="/myLists/<%= list._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    <% }) %>
  <% } %>
</div>

    </div>
</body>
</html>