<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d7ccb43ad1.js" crossorigin="anonymous"></script>
    <title>My Lists</title>
</head>
<body>
  
    <div class="container">
        <div class="mobile-header">
            <span class="menu-btn"><i class="fa-solid fa-bars-staggered"></i></span>
        </div>
    

   <nav id="mobilenav-ct" class="hidden">
        
        <ul id="mobilenav" class="hidden">
            <li class="hidden"><a href="/home">Home</a></li>
            <li class="hidden"><a href="/myLists">My Lists</a></li>
            <li class="hidden"><a href="/favorites">Favorites</a></li>
            <li class="hidden"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
     
   </nav>


    <nav class="topNav">
        <a href="/home">Home</a>
        <a class="navactive" href="/myLists">My Lists</a>
        <a href="/favorites">Favorites</a>
        <a class="logout" href="/logout">Logout</a>
    </nav>
    
      
<div class="topList-ct">
<div class=" glass-card">
        <h2>My Lists</h2>


        <form action="/myLists" method="POST">
            <input type="text" name="listName" placeholder="New List Name" required>
            <button type="submit">Create List</button>
        </form>
      </div>
</div>
      

     <div class="lists-container">
  <% if (lists.length === 0) { %>
    <p>You have no lists yet. Start adding your favorite cocktails!</p>
  <% } else { %>
    <% lists.forEach(list => { %>
      <div class="list-ct">
        <a href="/myCustomList/<%= list._id %>"><%= list.name %></a>

        <form action="/myLists/<%= list._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    <% }) %>
  <% } %>
</div>

    </div>
    <script src="/js/main.js"></script>
</body>
</html>